.title {
    @apply text-8xl text-center font-display;

    text-shadow: rgba(0, 0, 0, 0.25) 4px 4px;

    @apply mb-6;
}

.description {
    @apply text-xs;

    min-width: 250px;

    letter-spacing: 2px;
}

.description hr {
    border-top-width: 2px;

    margin-bottom: 24px;
}
